altgraph==0.17.3
bcrypt
certifi
cffi
contourpy==1.0.7
convertdate==2.4.0
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.39.3
future==0.18.2
hijri-converter==2.2.4
holidays==0.17.2
importlib-resources==5.12.0
inflect==6.0.2
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
lxml==4.9.1
matplotlib==3.7.1
numpy==1.24.2
openpyxl
packaging
pandas==2.0.0
pefile==2022.5.30
Pillow==9.4.0
ply==3.11
pycparser
pydantic==1.10.2
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
PyMeeus==0.5.12
PyMuPDF==1.19.0
pyodbc
pyparsing
PyPDF2==3.0.1
PyQt5==5.15.7
PyQt5-sip
PyQt5-stubs==5.15.6.0
python-dateutil==2.8.2
python-docx==0.8.11
python-pptx==0.6.23
pytz==2023.3
pywin32==305
pywin32-ctypes==0.2.0
reportlab==3.6.12
sip
six
tenacity==8.2.2
toml
typing_extensions==4.4.0
tzdata==2023.3
wincertstore==0.2
XlsxWriter==3.2.0
xlwings==0.31.10
zipp==3.15.0
